body{
    background-color: #F4F1EB;

}

.navbar-nav > li > .dropdown-menu { 
    background-color: #F4F1EB;
 }

 .navbar-bg{
    background-color: #F4F1EB;
 }

 .nav-center{
    margin: 0 auto;
}
.custom-nav-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.custom-nav-font-dropdown{
    font-family: 'Montserrat', sans-serif,'Times New Roman', Times, serif;
    font-weight: bolder !important;
    font-size: 1.2rem;
}
.custom-font-lead{
    font-family: 'Fira Code', monospace;
    color: #272625;
}
.custom-font-hero{
    color: #272625 !important;
    
}
.hero-img{
    max-height: 450px;
}
.comment-font-color{
    font-family: 'Montserrat', sans-serif;
    font-size: 2 rem;
    font-weight: bold;
    color: aliceblue !important;
}
.sub-comment-font{
    font-family: 'Montserrat', sans-serif;
    color: aliceblue !important;
    font-size: 1.2rem;
    font-weight: lighter;

    
}
.hr-custom{
    padding: 20px;
    
}

/* .typewriter {
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */


